<h1>Listing collections</h1>


<% if @collections.count > 0  %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  
    <% @collections.each do |collection| %>
        <tr>
          <td><%= collection.name %>
            <ul>
              <% collection.fossils.each do |fossil| %>
                <li>
                  <%= render "fossils/list_item", :fossil => fossil %>
                </li>
              <% end %>
              <% if can? :create, Collection %>
                <li><%= link_to 'New Fossil', { :controller => 'fossils', :action => 'new', :collection_id => collection.id }  %></li>
              <% end %>
            </ul>
          </td>
          <td><%= link_to 'Edit', edit_collection_path(collection) if can? :edit, collection %></td>
          <td><%= link_to 'Destroy', collection, :confirm => 'Are you sure?', :method => :delete if can? :destroy, collection %></td>
        </tr>
    <% end %>
  </table>
<% else %>
  <h2>No Collections are visible. </h2>
  <% unless user_signed_in? %>
    Try logging in: 
    <%= form_for("user", :url => user_session_path) do |f| %>
    <p><%= f.label :login %><br />
    <%= f.text_field :login %></p>
  
    <p><%= f.label :password %><br />
    <%= f.password_field :password %></p>
  
    <p><%= f.submit "Sign in" %></p>
  <% end %>
<% end %>
<% end %>

<br />
<% if can? :create, Collection %>
  <%= link_to 'New Collection', new_collection_path %>
<% end %>