<%= form_for @fossil, :html => { :multipart => true } do |f| %>
  <% if @fossil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fossil.errors.count, "error") %> prohibited this fossil from being saved:</h2>

      <ul>
      <% @fossil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :collection %><br />
    <%= f.select :collection_id, options_for_select(Collection.all.collect{|n| [n.name, n.id] },
                                                   ( @fossil.id ? @fossil.collection.id : params[:collection_id] )) %>
  </div>
  <div class="field">
    <%= f.label :attachment %><br />
    <%= f.file_field :attachment %>
  </div>
  <div class="field">
    <%= f.label :date_available_from %><br />
    <%= f.date_select :date_available_from %>
  </div>
  <div class="field">
    <%= f.label :date_available_to %><br />
    <%= f.date_select :date_available_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
