%strong=fossil.name 
–
= fossil.description
%br
=link_to "Download #{fossil.attachment_file_name}", fossil.attachment.url
–
=fossil.attachment_file_size 
==Bytes (#{fossil.attachment_content_type})

-if can?(:download_counters, fossil) and ! fossil.download_counters.empty?
  .download_history
    %a{:href => "javascript::;", :onclick => "$('#dl-list-#{fossil.id}').toggle('blind', '', 'fast');"}= "Downloaded (#{fossil.download_counters.count})"
    .download-history-content{ :id => "dl-list-#{fossil.id}" }
      -fossil.download_counters.each do |dl|
        %span.dl-name
          -if dl.user
            =link_to dl.user.name, admin_user_path(dl.user)
          -else 
            Public User
        %span.dl-date=dl.created_at.strftime("%a, %d %b %Y")
        %br

%br
-if can? :update, fossil
  .collection-item-edit
    =link_to 'Edit', edit_collection_fossil_path(fossil.collection, fossil) 
  
    -if can? :destroy, fossil 
      =link_to 'Destroy', [fossil.collection, fossil], :confirm => 'Are you sure?', :method => :delete  
