<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fossil.name %>
</p>

<p>
  <b>Description:</b>
  <%= @fossil.description %>
</p>
<p>
  <b>Collection:</b>
  <%= @fossil.collection.name %><br />
  <b>Will be visible by: </b>  <%= @fossil.collection.users.map(&:email).join(", ") %>
</p>

<p>
  <b>Attachment:</b>
  <%= link_to "Download #{@fossil.attachment_file_name}", @fossil.attachment.url %> – <%= @fossil.attachment_file_size  %> Bytes (<%= @fossil.attachment_content_type %>)
</p>

<p>
  <b>Date available from:</b>
  <%= @fossil.date_available_from %>
</p>

<p>
  <b>Date available to:</b>
  <%= @fossil.date_available_to %>
</p>


<%= link_to 'Edit', edit_fossil_path(@fossil) %> |
<%= link_to 'Back', fossils_path %>
