<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>
  
  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>
  
  <% if can? :assign_roles, @user %>
    <p><%= f.label :role %><br />
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %></p>
  <% else %>
  
  <% end %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  </div>

	  <div class="grid_6 alpha omega">
<%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>



  <p><%= f.submit "Update" %></p>
<% end %>
