%h1 Listing users

%table
  %tr
    %th Name
    %th Email
    %th Role
    %th 
    %th 
    %th 

  -@users.each do |user| 
    %tr
      %td= user.name
      %td= user.email 
      %td= user.role
      %td= link_to 'Show', admin_user_path(user)
      %td= link_to 'Edit', edit_admin_user_path(user) 
      %td= link_to('Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete)
      %td
        -if ! user.download_counters.empty?
          .download_history
            %a{:href => "javascript::;", :onclick => "$('#dl-list-#{user.id}').toggle('blind', '', 'fast');"}= "Downloaded (#{user.download_counters.count})"
            .download-history-content{ :id => "dl-list-#{user.id}" }
              -user.download_counters.each do |dl|
                %span.dl-name="#{dl.fossil.name} (#{dl.fossil.collection.name})"
                %span.dl-date=dl.created_at.strftime("%a, %d %b %Y")
                %br
%br 

=link_to 'New User', new_admin_user_path 
