
<!DOCTYPE html>
<html>
<head>
  <title>Tarpit</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div id="indexes">
      <%= link_to_unless_current 'Collections', collections_path do  %>
        <span class="current">Collections</span>
      <% end %>
      <% if can? :read, User %>
        <%= link_to_unless_current 'Users', admin_users_path do  %>
          <span class="current">Users</span>
        <% end %>
      <% end %>

    </div>
    <div id="meta">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
<div id="main-container">
  <%= yield %>
</div>
</body>
</html>
